.box {
    width: 200px;
    height: 120px;
    background-color: #138bbe;
    display: flex;
    justify-content: center;
    align-items: center;

    & .content {
        width: 180px;
        height: 100px;
        background-color: #1dace9;
        display: flex;
        justify-content: center;
        align-items: center;

        & span {
            background-color: white;
            padding: 5px;
        }
    }
}

#about {
    font-size: 2em;
}